* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-kerning: 10px;
    text-decoration: none;
    color: rgb(43, 42, 40);
}
section {
    .obj {
        height: 7vh;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #319f58; 
    }
}
