* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-kerning: 10px;
    text-decoration: none;
    color: rgb(43, 42, 40);
}
.obj {
    height: 4vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #319f58;
    margin-bottom: 1vh;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.obj p {
    color: #fff;
    margin: 0 2px;
}
.add {
    justify-content: center;
}
